header h1 {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index:99;
}

.plus-22 {
    margin-top: 22em;
}

.background-white {
    background-color: #ffffff;
}